.containerr {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
}
.carousel{
    position: relative;
}
.carousel-img{
  width: 100%;
  border-radius: 25px;
  height: 415px;
  object-fit: cover;
  margin-bottom: 10px;
}
.carousel-counter {
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: white;
    font-weight: bold;
}
.carousel-btn {
    position: absolute;
    top: 45%;
    background: none;
    color: white;
    font-size: 40px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.carousel-btn.left {
    left: 10px;
}
.carousel-btn.right {
    right: 10px;
}

.part1 {
    display: flex;
    justify-content: space-between;  
}
.part1 .title{
    color: #FF6060;
    font-weight: 450;
    font-size: 38px;
    margin-bottom: 0;
}
.part1 .location{
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
}
.tags{
    margin-top: 30px;
}
.tags ul{
    padding: 0;
}
.tags li {
    background-color: #ff6060;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 8px;
    display: inline-block;
}
.right {
    text-align: right;
}
.host{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.host p {
    width: 64px;
    margin-right: 15px;
    margin-bottom: 50px;
    color: #FF6060;
    font-weight: 400;
    font-size: 18px;
}
  
.host img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-bottom: 40px;

}


.container-toggle {
    margin-top: 20px;
    margin-bottom: 50px;
}

.list-toggle {
    display: flex;
    gap: 8%;
    padding: 10px 0px 30px;
    list-style: none;
    align-items: flex-start;
}

.list-toggle .toggle-list {
    background-color: #ff6060;
    border-radius: 10px;
    overflow: hidden;
    max-width: 582px;
    width: 100%;
    
}

.toggle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 20px;
}

.toggle-header p {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
  
}

.button-toggle {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
   
}

.text-toggle {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease, padding 0.5s ease;
    padding: 0 20px;
    background-color: #fff;
    color: #333;
}

.text-toggle.open {
    max-height: 200px;
    padding: 10px 20px;
}
.list-amenities{
    margin-top: 10px;
}
.amentites-list{
    margin-bottom: 5px; 
}

.equip {
    padding-left: 20px;
    margin: 0;
}

@media (max-width: 375px) {
    .containerr{
        padding: 0 30px;
    }
    .carousel-img{
        border-radius: 10px;
        height: 255px;
        margin-bottom: 0px;
    }
    .carousel-counter {
        bottom: 20px;
    }
    .carousel-btn {
        top: 40%;
        font-size: 35px;
        padding: 0 5px;
    }
    .part1 {
        flex-direction: column;
    }
    .part1 .title{
        font-weight: 450;
        font-size: 32px;
    }
    .part1 .location{
        font-weight: 600;
        font-size: 18px;
        margin-top: 5px;
    }
    .tags{
        margin-top: 20px;
    }
    .tags ul{
        padding: 0;
    }
    .tags li {
        font-weight: 600;
        font-size: 13px;
        padding: 8px 10px;
        border-radius: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .right {
        display: flex;
        height: 60px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .host{
        margin-top: 0;
    }
    .host p {
        width: 64px;
        margin-right: 15px;
        margin-bottom: 50px;
        color: #FF6060;
        font-weight: 400;
        font-size: 13px;
    }
    .host img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-bottom: 40px;
    }
    .star-rating{
        
    }
    .part2{
        flex-direction: column;
        gap: 200px;
    }
    .container-toggle {
      
    }
    .list-toggle {
        flex-direction: column;
        gap: 20px;
        padding: 10px 0px 30px;
    
    }
}
  