

.toggle-container {
  padding: 0 7%; 
}
.toggle-container ul{
  list-style: none; 
  gap: 900px;
  margin-right: 50px;
  
}

.toggle-container li{
  display: flex;  
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #FF6060;
  border-radius: 10px;
}

.toggle-container li p{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
}

.toggle-button {
  padding-right: 20px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #FF6060;
  transition:  0.3s;
}

.toggle-text {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease, padding 0.5s ease;
  padding: 0 10px;
}

.toggle-text.open {
  max-height: 200px; 
  padding: 10px;
}

@media (max-width: 375px) {
  .toggle-container {
    padding: 0; 
 }
 .toggle-container ul{
  margin-right: 0;
  padding: 0;
}
.toggle-container li p{
  font-weight: 700;
  font-size: 18px;
  padding-left: 15px;
}
.toggle-button{
  font-size: 23px;
}
}
  
  